<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                    style="font-weight:600; font-size:18px;">
                    <span class="fs-5 d-none d-sm-inline" style="color:yellow">My Roadmap</span>
                </a>
                 <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/task/get-started" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task1}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Getting Started</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Getting Started</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/research" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task2}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Research Schools</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Research Schools</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/apply" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task3}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Apply</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Apply</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/transcripts" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task4}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Submit Transcripts</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Submit Transcripts</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/eng-proficiency" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task5}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">English Proficiency</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">English Proficiency</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/testing" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task6}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Testing and Scores</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Testing and Scores</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/accepted" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task7}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">You've Been Accepted</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">You've Been Accepted</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/visa" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task8}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">I-20, Visa and Fees</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">I-20, Visa and Fees</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/relocate" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task9}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Planning to Relocate</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Planning to Relocate</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/tips" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task10}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Additional Tips</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Additional Tips</span>
                            {{/if}}
                        </a>
                    </li>
                </ul>
                <hr />
            </div>
        </div>
        <div class="col container-fluid m-3 py-3">
            <h1 style="font-size: 4.5vh; margin-bottom: 30px;">You’ve Been Accepted to a University! Now What?</h1>
            {{#if tasks.task7}}
            <a class="complete-btn" href="/task/complete/task7"> Task Completed</a>
            {{else}}
            <a class="complete-btn" href="/task/complete/task7"> Click to Complete Task</a>
            {{/if}}


        <div class="accordion mt-4" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 style="font-size: 3.5vh">Notify Your Chosen University of Your Decision</h2>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>Congratulations! You've been accepted to a university, and you've chosen which one you'll be attending.
                Next you'll want to:</p>

            <ol>
                <li>1. Send your acceptance letter to your chosen university along with a deposit, if one is required.</li><br>
                <li>2. Send a letter accepting any offered financial aid or loans you've decided to receive. Many universities will
                    pull your tuition fees directly from you accepted financial aid.</li><br>
                <li>3. If you're not accepting any financial aid, or if your financial aid does not cover your full tuition,
                    be sure to pay the balance of your tuition before your university's deadline.</li><br>
                <li>4. Respond to any other inquiries your university may have sent you, such questions about your chosen
                    form of housing or whether you'll be on a university meal plan, if your university offers them.</li>
            </ol>            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h2 style="font-size: 3.5vh">Inform Other Universities of Your Decision</h2>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>After you've made your decision about what university you'll be attending, you should send emails to
                the other universities that excepted you, informing them of your decision.</p>            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h2 style="font-size: 3.5vh">Find Housing</h2>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>If you're planning to live in campus dorms or apartments, be sure to make the appropriate arrangements with
                the university. Although campus housing is usually the easiest way to obtain housing, if you plan to stay
                somewhere other than on campus, make use of student forums, trusted social media connections, and other resources
                to search for and secure housing.
            </p>            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h2 style="font-size: 3.5vh">Complete Your University’s Placement Tests</h2>
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>After being admitted, some universities may require their students to take a placement test for math, English,
                science, or for particular foreign languages. 
            </p>
            <p>You should examine your university’s admitted students’ page carefully
                to determine whether placement tests are necessary and to find out when and how to take them.</p>            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <h2 style="font-size: 3.5vh">Plan to Attend Your University's Orientation, If Possible</h2>
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>Important information for new students is usually communicated at university new student orientations.
                Make plans to attend the orientation, whether virtually or in person.
            </p>            </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>