<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                    style="font-weight:600; font-size:18px;">
                    <span class="fs-5 d-none d-sm-inline" style="color:yellow">My Roadmap</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    {{#each tasks}}
                    {{#if this.visited}}
                    <li class="nav-item">
                    <a href="/task/page/{{this.page_number}}" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i>
                        <span class="ms-1 d-none d-sm-inline text-muted">{{this.name}}</span>
                    </a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                    <a href="/task/page/{{this.page_number}}" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i>
                        <span class="ms-1 d-none d-sm-inline ">{{this.name}}</span>
                    </a>
                    </li>
                    {{/if}}
                    {{/each}}
             
                </ul>
                <hr />
            </div>
        </div>
        <div class="col py-3">
            <h1 style="font-size: 4.5vh">You’ve Been Accepted to a University! Now What?</h1>
            {{#if complete}}
            <a href="/task/complete/{{task_id}}"> Task Completed</a>
            {{else}}
            <a href="/task/complete/{{task_id}}"> Click to Complete Task</a>
            {{/if}}
            <p><strong>CONTENT COMING SOON</strong></p>
            
            <h2 style="font-size: 3.5vh">Complete Your University’s Placement Tests</h2>
            <p>After being admitted, some universities may require their students to take a placement test for math, English,
                science, or for particular foreign languages. You should examine your university’s admitted students’ page carefully
                to determine whether placement tests are necessary and to find out when and how to take them.</p>

        </div>
    </div>
</div>