<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                    style="font-weight:600; font-size:18px;">
                    <span class="fs-5 d-none d-sm-inline" style="color:yellow">My Roadmap</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/task/get-started" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task1}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Getting Started</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Getting Started</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/research" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task2}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Research Schools</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Research Schools</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/apply" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task3}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Apply</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Apply</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/transcripts" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task4}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Submit Transcripts</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Submit Transcripts</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/eng-proficiency" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task5}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">English Proficiency</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">English Proficiency</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/testing" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task6}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Testing and Scores</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Testing and Scores</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/accepted" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task7}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">You've Been Accepted</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">You've Been Accepted</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/visa" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task8}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">I-20, Visa and Fees</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">I-20, Visa and Fees</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/relocate" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task9}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Planning to Relocate</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Planning to Relocate</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/tips" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task10}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Additional Tips</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Additional Tips</span>
                            {{/if}}
                        </a>
                    </li>
                </ul>
                <hr />
            </div>
        </div>
        <div class="col container-fluid m-3 py-3">
            <h1 style="font-size: 4.5vh; margin-bottom: 30px;">Apply to One or More Universities</h1>
            {{#if tasks.task3}}
            <a class="complete-btn" href="/task/complete/task3"> Task Completed</a>
            {{else}}
            <a class="complete-btn" href="/task/complete/task3"> Click to Complete Task</a>
            {{/if}} 
        <div class="accordion mt-4" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 style="font-size: 3.5vh">Admission Requirements</h2>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>It’s important to look at each school and have a thorough understanding of the admission requirements of each one.</p>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h2 style="font-size: 3.5vh">When is their application deadline?</h2>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>First, make note of each school’s application deadline to be sure you submit the application on time. You’ll want to
                give yourself plenty of time to complete and review your applications, especially those for the schools you most want to
                attend.
                </p>            
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h2 style="font-size: 3.5vh">Do you need letters of recommendation?</h2>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>Don’t delay contacting instructors, mentors, and employers to request letters of recommendation. The more notice you
                give to these individuals, the more appreciative they will be and the more time they can spend crafting an excellent
                letter of recommendation for you.
            </p>  
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h2 style="font-size: 3.5vh">Do you have to submit a writing sample, statement of purpose, or admission essay?</h2>
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>If an essay or writing sample is required, make sure to give yourself plenty of time to think about the writing prompt,
                create an outline, write your essay, edit it, and perhaps have it reviewed by another writer whose ability you trust. A
                compelling essay could make the difference between being declined for admission and getting into your school of choice. 
            </p>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <h2 style="font-size: 3.5vh">Is an interview required?</h2>
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>
                It is important to know if the school you want to attend requires you to take part in an interview. If appointment dates
                aren’t automatically assigned, you’ll need to find out how to make a virtual or in-person appointment.
            </p>           </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <h2 style="font-size: 3.5vh">Reflect on your academic and professional career in order to craft a great story about yourself.</h2>
            </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>
                Often, completing admission applications requires you to gather information about yourself and highlight your most
                notable academic, professional and personal achievements. These include organizations and activities you’ve taken part
                in, professional positions you’ve held, awards you’ve won, service projects you’ve completed, and special skills and
                abilities you’ve acquired. Use this information to create an application profile or CV (short for curriculum vitae) that
                the admissions committees are wowed by.
            </p>           </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <h2 style="font-size: 3.5vh">Official transcripts, transcript evaluation, English proficiency, standardized tests, and all the rest.</h2>
            </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>
                Most US universities will require you to submit an official transcript that has been interpreted by a transcript
                evaluation company. They may also require you to complete a number of exams to demonstrate that you can be successful at
                that particular institution. These and other aspects of the admissions process are covered in the sections that follow.
            </p>          
            </div>
            </div>
        </div>
        </div>
    </div>
</div>