<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                    style="font-weight:600; font-size:18px;">
                    <span class="fs-5 d-none d-sm-inline" style="color:yellow">My Roadmap</span>
                </a>
<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/task/get-started" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task1}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Getting Started</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Getting Started</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/research" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task2}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Research Schools</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Research Schools</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/apply" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task3}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Apply</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Apply</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/transcripts" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task4}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Submit Transcripts</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Submit Transcripts</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/eng-proficiency" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task5}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">English Proficiency</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">English Proficiency</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/testing" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task6}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Testing and Scores</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Testing and Scores</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/accepted" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task7}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">You've Been Accepted</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">You've Been Accepted</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/visa" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task8}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">I-20, Visa and Fees</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">I-20, Visa and Fees</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/relocate" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task9}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Planning to Relocate</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Planning to Relocate</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/tips" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task10}}
                            <span class="ms-1 d-none d-sm-inline text-white-50">Additional Tips</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Additional Tips</span>
                            {{/if}}
                        </a>
                    </li>
                </ul>
                <hr />
            </div>
        </div>
        <div class="col py-3">
            <h1 style="font-size: 4.5vh">Demonstrate English Proficiency</h1>
            {{#if tasks.task5}}
            <a href="/task/complete/task5"> Task Completed</a>
            {{else}}
            <a href="/task/complete/task5"> Click to Complete Task</a>
            {{/if}}
            <p>Universities want their students to succeed, so most US universities will want to make sure that you are proficient
                in English either before they admit you to their university, or after admission but prior to course enrollment. If
                the official language of your home country is also English, or if you’ve studied for a significant period in another
                English-speaking country, this requirement may be waived. If not, you’ll have to demonstrate proficiency.</p>
            <h2 style="font-size: 3.5vh">How do I demonstrate English proficiency?</h2>
            <p>Most universities provide many ways to demonstrate proficiency in English, so you’ll need to visit the university’s
                international admissions website to see their guidelines. However, three of the most common ways US institutions
                allow you to demonstrate proficiency are as follows:</p>
            
            <ol>
                <li> 1. achieving the minimum score on the TOEFL (Test of English as a Foreign Language) which is determined to be
                    adequate by the US institution you are applying to;</li>
                <li> 2. earning at least a minimum passing score on the IELTS (International English Language Testing System); or</li>
                <li> 3. successfully completing an English language program and earning an ELS EAP (English for Academic Purposes)
                    Level 112 Certificate of Completion.</li>
            </ol>
        </div>
    </div>
</div>