<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
          style="font-weight:600; font-size:18px;"
        >
          <span class="fs-5 d-none d-sm-inline" style="color:yellow">My Roadmap</span>
        </a>
<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/task/get-started" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task1}}
                            <span class="ms-1 d-none d-sm-inline text-muted">Getting Started</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Getting Started</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/research" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task2}}
                            <span class="ms-1 d-none d-sm-inline text-muted">Research Schools</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Research Schools</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/apply" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task3}}
                            <span class="ms-1 d-none d-sm-inline text-muted">Apply</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Apply</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/transcripts" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task4}}
                            <span class="ms-1 d-none d-sm-inline text-muted">Submit Transcripts</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Submit Transcripts</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/eng-proficiency" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task5}}
                            <span class="ms-1 d-none d-sm-inline text-muted">English Proficiency</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">English Proficiency</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/testing" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task6}}
                            <span class="ms-1 d-none d-sm-inline text-muted">Testing and Scores</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Testing and Scores</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/accepted" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task7}}
                            <span class="ms-1 d-none d-sm-inline text-muted">You've Been Accepted</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">You've Been Accepted</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/visa" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task8}}
                            <span class="ms-1 d-none d-sm-inline text-muted">I-20, Visa and Fees</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">I-20, Visa and Fees</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/relocate" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task9}}
                            <span class="ms-1 d-none d-sm-inline text-muted">Planning to Relocate</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Planning to Relocate</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/task/tips" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i>
                            {{#if tasks.task10}}
                            <span class="ms-1 d-none d-sm-inline text-muted">Additional Tips</span>
                            {{else}}
                            <span class="ms-1 d-none d-sm-inline">Additional Tips</span>
                            {{/if}}
                        </a>
                    </li>
                </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <h1 style="font-size: 4.5vh">Where to Begin</h1>
      {{#if tasks.task1}}
      <a href="/task/complete/task1"> Task Completed</a>
      {{else}}
      <a href="/task/complete/task1"> Click to Complete Task</a>
      {{/if}}
      <p>
        Iternational Student Assist provides a streamlined roadmap of the
        processes, tests, and forms required for you to apply to universities in
        the US.
      </p>
      <p>
        The sidebar on the left is a list of tasks for you to complete, with
        information and links to websites that have forms or more information
        about what you need to do next in your journey to becoming a US student.
        These can be done in any order, and once finished, you can click the
        "Completed" button on the task page to keep track of your progress.
      </p>
    </div>
  </div>
</div>